.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  height: 90vh;
}

.title {
  font-size: 34px;
  font-weight: 800;
  color: #6c6c6c;
  background: url("/images/bg_meetup_half.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 100px;
}

.profile-img-container {
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.btn {
  background: #50c2c9;
  padding: 16px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  width: 100%;
}

.checkboxes {
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: 18px;
  scroll-behavior: smooth;
  scrollbar-color: blue;
}

.checkboxes::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.checkboxes::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.checkboxes::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners of the scrollbar thumb */
  border: 2px solid #f1f1f1; /* Add some padding around the scrollbar thumb */
}

.checkboxes::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}

.grid {
  padding: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
}

.disabled {
  background-color: #b2e1f7;
  color: rgb(80, 80, 80);
  cursor: not-allowed;
}
