.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  height: 90vh;
}

.title {
  font-size: 34px;
  font-weight: 800;
  color: #6c6c6c;
  background: url("/images/bg_meetup_half.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 100px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.title button {
  font-size: 20px;
  padding: 12px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: rgb(114, 73, 11);
  background: url("/images/bg_meet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.btn {
  background: #50c2c9;
  padding: 16px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  /* margin: 10px; */
  width: 100%;
}

.disabled {
  background-color: #b2e1f7;
  color: rgb(80, 80, 80);
  cursor: not-allowed;
}
